body{
  background-image:linear-gradient(120deg, rgba(37, 8, 202, 0.1) 0%, rgba(37,8,202,0.1) 100%), url("./images/rodluis.jpeg");
  background-size: 100%;
  background-position: -30% 30%;
  background-repeat: no-repeat;
  background: cover;
  height: 100vh;
  width: 100vw;
  
}

.background{
  background: url("./images/coffee-apple.jpg") no-repeat center center fixed;
  background: cover;
  
}